.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  background-color:azure;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

.button {
  max-width: 150px;
}
.cardHolder{
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.card {
  flex: 1 1 150px;
  max-width: 250px;
  background-color:whitesmoke;
  border-radius: 16px;
  padding: 16px;
  overflow: scroll;

}
.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin: 16px;
}

.waveButton {
  cursor: pointer;
  margin: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}